[2017-04-06 20:18] rthallisey opened #2 "Repurpose ansible-playbook-bundle repo as only an apb config rendering tool"
The ansible-playbook-bundle repo has a bunch of extra files in it that have nothing to do with rendering APB Dockerfiles with the encoded config data.  I think we should clean up this repo so that it only focuses on being a helpful tool for rendering APBs.

[2017-04-06 20:25] rthallisey commented on #2
Do we need all the rpm build stuff in this repo?

[2017-04-06 22:52] jmrodri commented on #2
I want the .tito and rpm stuff in there. Makes it way easier to build. That works best with tito.

[2017-04-07 00:39] jmrodri commented on #2
basically tito will be used to do the rpm releases and tag the versions. It actually makes it easier to release rpms this way.

[2017-04-27 19:33] jmontleon commented on #2
+1 for keeping the rpm spec and tito stuff. I know some projects don't like keeping this stuff in the same repo, but it's a royal pain keeping it in sync when it comes downstream if it lives somewhere else.

[2017-04-27 19:34] jmontleon opened #6 "Generated Dockerfile FROM is wrong."
It should be:
ansibleplaybookbundle/apb-base

but is actually:
apb/apb-base

[2017-04-27 19:41] jmontleon commented on #6
https://github.com/fusor/ansible-playbook-bundle/pull/7

[2017-04-27 21:45] eriknelson commented on #6
Merged #7

[2017-04-27 21:45] #6 closed, assigned to nobody

[2017-05-12 18:43] jmrodri opened #15 "apb busted when run from rpm build"
`tito build --test --rpm -i` will work but the resulting apb tool fails to run.

[code]

The problem is the `src/requirements.txt` lists `docker==2.2.1` but there is no python-docker in Fedora 25. The apb.spec has the wrong `Requires: docker`, I thought we required DOCKER, but we need `python-docker`.

Fedora 25 has `python-docker-py` version 1.10.6.
Fedora 26 has `python-docker-py` version 1.10.6

[2017-05-15 20:19] shawn-hurley opened #20 "Update design with working no parameter update"
We created a placeholder for an example APB with no parameters in #19. We should update this example when we get a working APB with no parameters.

[2017-05-24 02:04] mdshuai opened #35 "apb install failed with pip install"
Test for card: https://trello.com/c/8qsYQRsB/
[code]
system: fedora24

[2017-05-24 02:08] mdshuai commented on #35
@dymurray help confirm, thanks

[2017-05-24 02:57] jmrodri commented on #35
I confirmed the problem exists.

[2017-05-24 08:23] mdshuai opened #36 "apb build: 'module' object has no attribute 'DockerClient'"
When run apb build, I get an error, anyone could help what's wrong with my env? thanks.
[code]

[2017-05-24 12:01] dymurray commented on #36
Hey @mdshuai, This is due to the docker-py and docker libraries writing to the same files. Please try doing the following:
[code]

docker-py is the older library for docker. They renamed when they went to 2.0. This is a common problem so we will try to find a workaround for that. Please let me know if that fixes your issue.

[2017-05-24 15:59] dymurray commented on #35
@mdshuai Thank you for pointing this out. Our version in pypi was busted but should be working properly now. Please let me know if you still have problems running 'pip install apb'. I will leave this issue open for the time being until you confirm you are not seeing it on your end.

[2017-05-24 16:01] jmrodri commented on #35
Confirmed, `sudo pip install apb` worked for me.

[2017-05-24 16:03] jmrodri commented on #2
Closing as we plan on keeping the .tito build stuff in the repo.

[2017-05-24 16:03] #2 closed, assigned to rthallisey

[2017-05-24 18:37] rthallisey opened #38 "Make a developer APB to help develop the broker & catalog"
It would be nice to create an APB that could be used by developers working on the broker & catalog. The apb would be very simple and can perform  [provision, deprovision, bind, unbind] in a flexible and debuggable manner.  It would also serve as an example template for array of APBs. A perfect example of this is an apb that has a pinch of every feature we're adding into an apb, but as all hard cod

[2017-05-24 18:49] rthallisey commented on #38
wrong repo :)

[2017-05-24 18:49] #38 closed, assigned to nobody

[2017-05-25 01:45] mdshuai commented on #35
Confirmed, work for me, thank you.
[code]

[2017-05-25 01:46] #35 closed, assigned to nobody

[2017-05-25 02:31] mdshuai commented on #36
@dymurray Thanks for your reply, it work for me. I can build success
The issue now is why I install `docker-py` in my local? becase catasb now need this. So we need update `catasb` to use latest docker library
catasb local: `Failed to import docker-py` detail:
[code]

[2017-05-25 02:39] mdshuai commented on #36
Create a new issue in `catasb` and close this https://github.com/fusor/catasb/issues/52

[2017-05-25 02:39] #36 closed, assigned to nobody

[2017-05-31 12:57] shawn-hurley commented on #20
It looks like this has been taken care of by other changes to the way the documentation has been updated.
I think that we should close this issue.

[2017-05-31 17:01] shawn-hurley commented on #20
Now that the documentation is specfic and has an example with no parameters I am closing this issue.

[2017-05-31 17:01] #20 closed, assigned to nobody

[2017-06-06 17:44] jmontleon commented on #15
I think this has been fixed for awhile.

On a clean system:
[code]

[2017-06-06 17:44] #15 closed, assigned to jmrodri, dymurray

[2017-06-26 02:12] jmrodri opened #61 "need unit tests"
Need to add nose unit tests.

[2017-06-26 11:22] rthallisey commented on #61
@jmrodri What will be tested in nose tests? Can you write them out here so we can track the work.

[2017-07-06 15:36] mdshuai opened #65 "The apb.yml created by 'apb init' is invalid yaml"
[code]
Result: `my_apb/apb.yml`  is invalid yaml format

[2017-07-10 19:29] dymurray commented on #65
I am attempting a fix here: https://github.com/fusor/ansible-playbook-bundle/pull/66/. I believe the param mapping is wrong on `apb init`. I fixed it to have proper indentation.

[2017-07-11 15:21] mdshuai commented on #65
@dymurray thanks for the fix

[2017-07-19 13:16] mjudeikis opened #68 "push to openshift-ansible-service-broker fails"
1. Have 3.6 setup and Serivce broker deployed.
2. created example apb as per example https://github.com/fusor/ansible-playbook-bundle/blob/master/docs/getting_started.md
3. trying to push to asb :
`apb push --broker http://asb-1338-openshift-ansible-service-broker.apps.192.168.20.187.xip.io`

and getting:
[code]
and asb errors:
`10.128.0.1 - - [19/Jul/2017:13:14:12 +0000] "POST /apb/spec HTTP/1.1"

[2017-07-19 13:26] cfchase opened #69 "Remove organization from the image field in the apb.yml"
Current behavior:
#apb.yml
image: ansibleplaybookbundle/my-apb
This means that the broker downloads the spec from an organization, but may actually download the image from an entirely different organization, leading to confusion.

Proposed:
#apb.yml
image: my-apb
ASB will assume the apb image is in the same repository and org where the spec was found.

Will require changes in:
* ansible-service-br

[2017-07-19 13:27] cfchase commented on #69
https://github.com/openshift/ansible-service-broker/issues/288
https://github.com/fusor/apb-examples/issues/81

[2017-07-19 13:30] mjudeikis commented on #68
k, the problem is with my asb config for the organization.

[2017-07-19 13:38] mjudeikis commented on #68
k. Todo: update docs how to configure Openshift Ansible Service broker point to your own registry :)

[2017-07-19 13:52] #65 closed, assigned to nobody

[2017-07-19 13:53] dymurray opened #70 "Generate APB spec in yaml format within python instead of Jinja"
The Jinja templating creates some unwanted whitespace within the spec file. In order to make this cleaner we want to generate the YAML within Python and write it out to a file so it looks cleaner. For an example of the unwanted whitespace see here: https://github.com/fusor/apb-examples/blob/master/hello-world-apb/apb.yml#L16

[2017-07-21 14:53] eriknelson opened #74 "Remove id generation from apb tooling"
It was a mistake to introduce `id`s into the APBs, and the broker now ignores them entirely and does its own internal bookkeeping. We should remove it from the tooling.

[2017-07-22 09:59] mjudeikis opened #75 "Build fails with : in the description"
With few examples `apb build` fails due yaml file parsing error as there is `:` in the description field and fields are not wrapped in semacomma
[code]

[code]

to

[code]

[2017-07-22 10:19] mjudeikis opened #76 "yaml vs yml"
Failure in examples due naming in yaml vs yml
` playbook: /opt/apb/actions/**provision.yaml** could not be found`

[code]

[2017-07-22 10:29] mjudeikis commented on #75
k. Not sure WHY but in git all description fields are with `description` but when I do git clone they are done... yaml processor.

[2017-07-22 21:41] #68 closed, assigned to nobody

[2017-07-25 19:25] fabianvf commented on #76
Hmm, I think it checks for both .yaml and .yml playbooks, but I don't think we suppress the error message if we don't find the .yaml. Could you post the full log of the APB? It shouldn't have crashed if provision.yml existed.

[2017-07-26 08:26] ghost opened #78 "apb init got "Exception occurred! 'str object' has no attribute 'keys'""
apb init my_apb -p name=my_apb_param,type=string,default=foo_param,description="sample description" --async=optional --bindable --org my_organization
Initializing /home/wjiang/git/ansible-playbook-bundle/my_apb for an APB.
Exception occurred! 'str object' has no attribute 'keys'

Version:
apb (0.2.0)

[code]

[2017-07-28 09:14] ghost opened #81 "Got "Exception occurred! 'verifY'" when try to remove apb from ansible-service-broker"
[code]

[2017-07-28 09:19] wjiangjay commented on #81
[fix code](https://github.com/fusor/ansible-playbook-bundle/pull/82)

[2017-07-28 09:19] ghost commented on #81
fix code: https://github.com/fusor/ansible-playbook-bundle/pull/82

[2017-07-28 13:32] jmrodri commented on #81
Fixed by PR #82

[2017-07-28 13:32] #81 closed, assigned to nobody

[2017-07-28 13:57] jmrodri commented on #61
* add test/test_cli.py
  * test `subcmd_list_parser(subcmd)` verify proper output, and handling of errors
  * test `subcmd_build_parser(subcmd)` verify proper output, and handling of errors
  * test `subcmd_init_parser(subcmd)` verify proper output, and handling of errors
  * test `subcmd_prepare_parser(subcmd)` verify proper output, and handling of errors
  * test `subcmd_push_parser(subcmd)` ver

[2017-07-28 13:58] jmrodri commented on #61
Scripts to generate output for above comment:

[code]

[code]

[2017-07-31 15:29] aweiteka commented on #61
Given apb rpm is doa on fedora distro (e.g. #78), I think this needs to happen ASAP so contributors and release engineers have some confidence in the codebase.

[2017-08-01 15:37] aweiteka opened #84 "Multi-line strings in apb.yml get corrupted during prepare"
When the apb.yml spec file has a multi-line string, e.g....

[code]

...running apb prepare corrupts the file so it's no longer valid yaml, e.g.

[code]

It's unexpected to have the apb.yml file change when running prepare. I made edits to it that are intentional. I understand this can be disabled with --skip-spec-update opt but why do we do it?

[2017-08-02 17:48] dymurray commented on #70
I'm closing this because we fixed the templating to not have whitespace.

[2017-08-02 17:48] #70 closed, assigned to nobody

[2017-08-02 17:50] dymurray commented on #78
@wjiangjay We have removed initialization with parameters since the multi-plan approach will eliminate how we declare params. I was able to run `apb init my_apb --async=optional --bindable --org my_organization` without getting an error. This issue is out of date so I am going to close it.

[2017-08-02 17:50] #78 closed, assigned to nobody

[2017-08-02 18:10] dymurray commented on #84
@aweiteka We just changed the functionality of `apb prepare` to stop rewriting the spec file. This was initially a feature we thought would be nice to have for adding dependency information but it was causing too many issues such as this. You should no longer have to pass in the --skip-spec-update flag. I have confirmed that `apb prepare` now works without overwriting your spec.

[2017-08-02 18:10] dymurray commented on #84
I will close this issue if you can confirm it is resolved.

[2017-08-02 18:11] dymurray commented on #74
This issue is now resolved, ID generation has been removed.

[2017-08-02 18:11] #74 closed, assigned to nobody

[2017-08-02 18:17] dymurray commented on #84
This is fixed in 0.2.1 on pypi.

[2017-08-03 13:12] dymurray commented on #84
Confirmed this is fixed in the 0.2.1 rpm as well.

[2017-08-03 14:32] aweiteka commented on #84
Thanks!

[2017-08-03 14:32] #84 closed, assigned to nobody

[2017-08-08 20:45] codificat commented on #76
I believe that fusor/apb-examples#102 addressed this confusion, so closing the issue.

If that wasn't the full fix please feel free to reopen and comment with the details/logs. Thanks!

[2017-08-08 20:45] #76 closed, assigned to nobody

[2017-08-16 18:48] jwmatthews opened #94 "Investigate improving how variables are declared for an APB as well as default values are specified."
See the below email from @aweiteka

https://www.redhat.com/archives/ansible-service-broker/2017-August/msg00012.html

[2017-08-16 18:52] jwmatthews commented on #94
Concern is an APB author may not realize that an APB is specifying different default values that take precedence over the typical Ansible patterns of defaults in a defaults/main.yml

[2017-08-22 17:12] jdob opened #100 "Dockerfile created during apb init uses named user"
I'm referring to the line:

USER apb

See the section on "Named user vs numeric user ID" in [1] for more information on why this is dangerous.

[1] http://blog.dscpl.com.au/2015/12/random-user-ids-when-running-docker.html

[2017-08-23 19:45] jdob commented on #61
First steps towards this: https://github.com/fusor/ansible-playbook-bundle/pull/101

[2017-08-24 11:53] maleck13 opened #102 "wrap apb tool in docker image"
Wonder if creating an apb docker image would be a good way to go here?
Setting up python and the virtural env took a while for different reasons. Where as being able to do ``` docker run fusor/apb init org/image ``` might provide a better option for those not familiar with python ?

[2017-08-24 12:49] jmontleon commented on #102
This isn't a bad idea and I've considered it as a possibility in the past as well. I haven't had a good idea on how we'd write to the host filesystem without requiring users pass in -v/mount options to mount the filesystem somewhere specific though. Do you have a thought?

In the short term, if you're using Fedora or EL7 there are also Copr repos available for RPM installs:
https://github.com/fuso

[2017-08-24 13:35] jmontleon commented on #102
As a starting point for a Dockerfile:

[code]

`docker build -t apb .`

`docker run --privileged -u $(id -u) -v $(pwd):/mnt apb init foo/bar`

Things that aren't great about this:
- You'll probably get an selinux denial mounting the directory unless you use privileged or set the context to make docker happy.
- Have to specify -u with something like $(id -u) or the directory is created as root
- Ha

[2017-08-24 13:42] jwmatthews commented on #102
@maleck13 great suggestion, thank you.

[2017-08-24 13:50] maleck13 commented on #102
@jmontleon having the alias seems a good compromise

[2017-08-24 14:02] tchughesiv commented on #102
something like this should allow you to avoid --privileged flag
[code]

[2017-08-24 14:05] tchughesiv commented on #102
you could also add an atomic "run" label for folks who want to easily use atomic to exec... instead of relying on an alias

[2017-08-24 15:45] jmontleon commented on #102
Thanks @tchughesiv, I have inncorporated your suggestions.

[2017-08-25 09:54] maleck13 commented on #102
@jmontleon Great stuff guys tried out the docker image locally and works great!

[2017-08-29 17:25] #102 closed, assigned to nobody

[2017-09-06 19:26] dymurray opened #108 "Add Basic Auth support for dev endpoints"
We need a mechanism to allow the user to pass in user/pass when using tools such as 'apb list' and 'apb push' so that we don't need to disable basic_auth in the broker. Ideally this would try to use creds stored in kubeconfig.

[2017-09-07 02:55] jmrodri commented on #108
Are we sure we want this? I think right now if dev is turned on basic auth should be disabled.

[2017-09-07 12:42] aweiteka commented on #108
I don't know of a scenario where one would not be authenticated to the cluster via kubeconfig. My use case is for `apb list|push` to use those credentials. It appears that today the endpoint must be unauthenticated when using apb CLI. I suggest we always use auth from kubeconfig or fail. (Unauth'd dev workflows set up negative dev/test precedence.) Long term I think this capability should be in oc

[2017-09-07 12:59] jwmatthews commented on #108
I agree we can do better to support auth with the tooling.

@aweiteka FYI, auth in this perspective is using a shared secret between Service Catalog and Broker, not related to ~/.kube/config at moment, in future we might be able to add a role to the logged in user and use their token against the api server, not there yet.

@jmrodri security team has suggested same to us in regard to disabling secu

[2017-09-07 13:05] aweiteka commented on #108
That makes more sense. Thanks.

[2017-09-11 19:35] johnkim76 opened #110 "'apb push' restarts controller-manager pod, but it does not refresh the updated APB"
When doing and 'apb push' the controller-manager pod is killed and restarted. However, it does not refresh the APB (which was just pushed).

When the pod is manually kill and restarted via the webui, the new APB updates can be visible.

[2017-09-12 19:34] shawn-hurley opened #111 "APB test should allow for a verbose option that will print out the logs for the pod"
We should allow users to see the logs of the pod as it executes for the APB test method.

[2017-09-13 15:11] shawn-hurley opened #112 "APB Test is not working"
It appears that when creating the role, we are not assigning the service account as a subject. Because of this, it appears that the no action can be taken by a provision playbook.

* Copy and pasting the object and running with the `oc create -f` seems to be working just fine.
* Running the test with `oc run` command style still works as well.

[2017-09-21 08:56] slaskawi opened #115 "apb push assumes that broker uses SSL"
This is not always true (see [here](https://github.com/openshift/ansible-service-broker/blob/master/templates/deploy-ansible-service-broker.template.yaml#L259-L260)). In case of using http it returns the following warnings:
[code]

Note that the operation is successful (apart from warnings reported).

[2017-09-22 06:38] chengzhang1016 opened #116 "apb install failed with pip install"
[root@host-8-241-60 pip-1.5.4]# python --version
    Python 2.7.5

    [root@host-8-241-60 pip-1.5.4]# pip --version
    pip 1.5.4 from /usr/lib/python2.7/site-packages/pip-1.5.4-py2.7.egg (python 2.7)

    [root@host-8-241-60 pip-1.5.4]# pip install apb
    Downloading/unpacking apb
      Downloading apb-0.2.2.tar.gz
      Running setup.py (path:/tmp/pip_build_root/apb/setup.py) egg_info for pack

[2017-09-22 06:40] chengzhang1016 commented on #116
@jmrodri Could you help to confirm? Thanks.

[2017-09-25 08:16] slaskawi opened #118 "Creating a Service Account fails"
When I try to create a Service Account using the following snippet:

[code]

I get an error:

[code]

The fun part is that the SA has actually been created:

[code]

[2017-09-25 08:44] slaskawi opened #119 "Role Binding uses name as an alias for role_ref_name"
The documentation states that `name` is an alias for `role_ref_name` ([here's a link](https://github.com/ansible/ansible-kubernetes-modules/blob/master/library/openshift_v1_role_binding.py#L109-L110)). This is simply wrong. It is possible to have a Role Binding with different `RoleRefName` and `Name`:

[code]

[2017-09-25 09:10] slaskawi opened #120 "Can not create RoleBinding object - "not found" error"
I'm trying to create a Role Binding object linked to my Service Account. [Here's an example from my template](https://github.com/infinispan/infinispan-openshift-templates/blob/master/templates/infinispan-ephemeral.json#L20-L46).

When I try to create the following objects:
[code]

I get the following error:

[code]

This might be connected to https://github.com/ansibleplaybookbundle/ansible-playbo

[2017-09-25 11:59] rthallisey commented on #118
This is an issue with the ansible kubernetes module. @fabianvf can you port this issue over to that repo? Closing it here.

[2017-09-25 11:59] #118 closed, assigned to nobody

[2017-09-25 12:28] rthallisey commented on #119
You're creating a new RoleBinding with the the name ```name: infinispan-app-view``` and you're referencing an OpenShift provided RoleBinding ``` roleRef: name: view``` to give permissions to you're new RoleBinding.  So you end up with the RoleBinding ```infinispan-app-view``` with view permissions. I think it's correct the way it is.

Feel free to open an issue with the [ansible module](https://gi

[2017-09-25 12:28] #119 closed, assigned to nobody

[2017-09-25 12:29] rthallisey commented on #120
The role_binding is looking for a role named ```            "role_ref_name": "caching-service",```, but doesn't find it.  The role_binding name from #119 is ```  name: infinispan-app-view```.  Try changing that to ```  name: caching-service``` and see if it works.  Reopen the issue if the problem persists and we'll try and figure it out.

[2017-09-25 12:29] #120 closed, assigned to nobody

[2017-09-25 12:56] slaskawi commented on #120
@rthallisey I'm not sure if I understand...

In the example above, I'm using `role_ref_name: "view"`. Why the system figured out that I'm trying use `"role_ref_name": "caching-service"`?

So just to give you an idea what I'm trying to achieve. The working object from OpenShift looks like this:

[code]

[2017-09-25 13:36] rthallisey commented on #120
This looks like another module bug ``` "role_ref_name": "caching-service", ```. The template set ```roleRef: view``` and the resource wasn't created with that name. @fabianvf can you also look that this bug in the module

[2017-09-25 15:05] dymurray commented on #112
Closing.

[2017-09-25 15:05] #112 closed, assigned to nobody

[2017-09-25 15:11] dymurray commented on #116
@chengzhang1016 I can confirm this problem exists due to the kubernetes module changing versions and removing the 1.0.1 version from PyPi. I will work to fix this.

EDIT: Actually this was a red herring, it was just not showing up on PyPi. Ignore this comment.

[2017-09-25 15:22] dymurray commented on #116
@chengzhang1016 I think you need to update pip. My pip version is 9.0.1:
[code]

It appears this error is from 1.5.4: https://pseudoscripter.wordpress.com/2016/12/20/pip-valueerror-expected-version-spec-in/

[2017-09-25 15:28] dymurray commented on #115
@slaskawi I think you might be using an old version of the tooling. By default it uses insecure and then you can pass in `--secure` to use SSL. See here: https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/src/apb/cli.py#L32

[2017-09-26 07:15] slaskawi commented on #120
@rthallisey @fabianvf Hey guys, can we either reopen this issue (and https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/119) or create another one somewhere else? This is actually a big deal for me since it blocks clustering functionality in Infinispan so I would like to make sure it won't slip between our fingers.

[2017-09-26 07:20] slaskawi commented on #115
I'm using the latest Docker file. The exact command I'm running is this one:

[code]

My Docker image version (SHA1):

[code]

[2017-09-26 16:58] fabianvf commented on #120
@slaskawi copied to openshift/openshift-restclient-python#92

[2017-09-27 05:24] slaskawi opened #122 "Connection refused when using HTTPS"
After the [latest changes to the templates](https://github.com/openshift/ansible-service-broker/commit/f1a4158780ca5d4053aa298b45ad43eae226c8c2#diff-54e88cebcb04cc49b8796b2f774cb6c7R263) I can not use HTTP (only HTTPS is allowed). When using `oc cluster up`, the CA is automatically generated upon server startup and is not trusted in the system.

Now, when I try to list APBs, I get the following er

[2017-09-27 05:41] slaskawi commented on #122
BTW, without `--secure` I get this:
[code]

[2017-09-27 05:44] slaskawi commented on #122
This also may (or not) be connected with https://github.com/openshift/ansible-service-broker/issues/443

[2017-09-28 13:00] shawn-hurley opened #125 "Unable to authenticate when a user does not have a token"
When the logged in user does not have a token we are throwing an error even if they input basic auth parameters.

[2017-09-28 13:26] #125 closed, assigned to nobody

[2017-10-04 17:14] jwmatthews opened #130 "Ensure that apb.yml is packaged with a built APB Image"
Goal is to ensure that all APB related files are present inside of an APB.

We want to be sure a user is able to pull down an APB, use it/modify, update parameters, and rebuild.

Assume we need to keep the apb.yml present in the image to make it easier to update.
At a minimal this helps to make it easier to see what the APB is exposing.

[2017-10-04 17:29] jwmatthews opened #131 "Create a lint command for both apb.yml as well as general APB files itself"
Need ability to lint an apb.yml content, helps with verifying APBs in relation to partner APBs submitted.

In addition, would help to go through all ansible playbooks and sanity check

[2017-10-04 17:35] rthallisey commented on #116
Closing this bug since there hadn't been any update. If there's still an issue please reopen it.

[2017-10-04 17:35] #116 closed, assigned to nobody

[2017-10-04 17:42] rthallisey commented on #122
When https://github.com/openshift/ansible-service-broker/pull/445 was merged, https became a requirement.  Here's the documentation for using bearer auth: https://github.com/openshift/ansible-service-broker/blob/master/docs/ssl_tls.md.

The apb tool got support to authenticate to the broker with this patch: https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/pull/123 so everything sho

[2017-10-04 17:42] #122 closed, assigned to nobody

[2017-10-05 08:31] sterburg commented on #131
+1
If your apb.yml isn't valid YAML then the docker image will build perfectly, but won't get loaded during bootstrap of the Ansible Service Broker.

I got asb boostrap error:
[code]

[2017-10-05 12:29] slaskawi opened #133 "When Removing (deprovision) Role Binding I get"
Deprovisioning service with Role Binding results in error:
[code]

Full logs:
[code]

Deprovision snippet:

[code]

[2017-10-06 13:51] maleck13 opened #136 "Support for binding schemas."
Is there a way currently with apbs to specify a bind creation parameters schema as per the spec
https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md#input-parameters-object

If not is there a plan to allow this kind of schema to be specified as part of an apb? As our requirements around binding increase, we want to be able to specify a set of parameters that can be passed at bi

[2017-10-06 14:02] jwmatthews commented on #136
@maleck13 @cfchase has been working on support for binding parameters

Trello card here:
https://trello.com/c/DXrXuPnQ

For this to be usable we need support for async bind in the OSB spec, in meantime we can experiment by configuring the broker to perform a bind, but it will be a synchronous operation and must return before the service catalog marks the request as timed out, the limit is currentl

[2017-10-06 14:02] #136 closed, assigned to nobody

[2017-10-09 08:15] jianzhangbjz opened #137 "Failed to install APB from source"
Hi,

I followed the [installing-from-source](https://github.com/ansibleplaybookbundle/ansible-playbook-bundle#installing-from-source) docs, but I got errors when executing `pip install -r src/requirements.txt`command.
Errors as the following, could you help to check it? Or something else I missed?
[code]

[2017-10-11 08:22] matzew opened #140 "Could not find route to ansible-service-broker"
Hello,

I've started the Openshift Origin (upstream) 3.6.0 release, like:
[code]

Now I want to run an APB, located here: https://github.com/feedhenry/3scale-apb

On its master branch, I did:
[code]
our `Makefile` went well, and some image got pushed to my docker-hub account, however, on the `apb boostrap`, I am getting the following error:

[code]

Any ideas ?

BTW. I am on this version:
[code]

[2017-10-11 08:32] matzew commented on #140
Was on a wrong OC - w/ no asb installed - sorry for the noice

[2017-10-11 08:32] #140 closed, assigned to nobody

[2017-10-11 18:25] rthallisey opened #142 "Hardcoding cluster resources names prevents new service creation in the same namespace"
[code]
The deployment config name is hardcoded to ```postgresql```.  If I run a second postgresql apb in the same namespace then nothing will happen because the resources will already exist. This is the case for all our apbs.

[2017-10-11 20:13] jwmatthews commented on #142
Tracked in trello here:
https://trello.com/c/5iiTxEt4

[2017-10-12 16:00] djwhatle opened #144 ""apb relist" fails to trigger service-catalog relist with "404 page not found""
Using the latest service-catalog, latest origin, and canary ansible-service-broker, I'm hitting an error attempting to use `apb relist` (and also `apb push`).

[code]

Quote from ernelson on IRC:
[code]

[code]

[2017-10-12 16:16] djwhatle commented on #144
Spoke more with @eriknelson and @shawn-hurley , sounds like this can be fixed by a single-line change.

https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/src/apb/engine.py#L370

Needs to be changed to:
`return "{}/apis/servicecatalog.k8s.io/v1beta1/clusterservicebrokers/{}".format(host, broker_name)`

Am going to submit a PR with this small change.

[2017-10-12 20:23] eriknelson commented on #144
Fixed via #145

[2017-10-12 20:23] #144 closed, assigned to nobody

[2017-10-17 15:29] maleck13 commented on #131
+1 agree completely. Currently the broker crashes (at least the version I have) if any of the yaml is not valid

[2017-10-26 15:54] matzew opened #154 "support license field in abp.yaml file"
It would be nice if the `apb.yaml` would support (and being valid) a `license:` field, so that one could do:

[code]

[2017-10-26 15:54] matzew commented on #154
If there is interest, I am happy to help

[2017-10-26 17:38] djwhatle opened #155 "Unhelpful error message when using "apb push --broker-name <name>" before "oc login""
When I attempt an apb push using the broker-name option before I've authenticated with "oc login", I get an error message that doesn't indicate the problem.

[code]

[2017-10-26 19:43] #69 closed, assigned to nobody

[2017-10-26 19:43] dymurray commented on #110
This is fixed with the `relist` command.

[2017-10-26 19:43] #110 closed, assigned to nobody

[2017-10-26 19:44] djwhatle commented on #155
After talking to @dymurray I determined that I was using this command incorrectly. When trying to push to a broker other than ASB, I needed to supply --broker-name <name> as well as --broker <route_url>

[2017-10-26 19:45] dymurray commented on #108
This has been added within the past month. Support for bearer and basic auth works now.

[2017-10-26 19:45] #108 closed, assigned to nobody

[2017-10-26 20:38] rthallisey commented on #154
@matzew it's an interesting idea.  Do you want to add a licence field because an apb could have a difference licence?  Do you mind explaining in more detail how this can be used?

[2017-10-26 21:41] matzew commented on #154
I, as a customer :smile:, should be able to specify the license of my `-apb` container, in the metadata. I'd compare this a bit w/ `package.json` or `pom.xml`, where you also have option to define the license of your project.

Also, wouldn't it be interesting to see, in the catalog, if the service (and the apb) are under license XYZ?

In middleware (Red Hat) we recently added `LICENSE.XML` to a bu

[2017-10-27 18:45] #155 closed, assigned to dymurray

[2017-11-01 11:26] #75 closed, assigned to nobody

[2017-11-22 18:14] shawn-hurley opened #167 "Ensure that the user has access to ASB and ClusterServiceBroker"
When a user is logged into the cluster we will use that user. We should make sure that the user has access to the required resources before trying to use that user.

[2017-11-28 18:31] cfchase opened #169 "apb remove results in broker relist failure"
[code]

[2017-11-29 14:12] #169 closed, assigned to nobody

[2017-12-06 15:16] matihost opened #172 "missing docker.io/ansibleplaybookbundle/apb"
`docker pull docker.io/ansibleplaybookbundle/apb ` results with:

`Using default tag: latest
Trying to pull repository docker.io/ansibleplaybookbundle/apb ...
repository docker.io/ansibleplaybookbundle/apb not found: does not exist or no pull access`

[2017-12-06 15:27] rthallisey commented on #172
```ansibleplaybookbundle/apb``` isn't a valid apb.  Here's a list of apbs available in the ansibleplaybookbundle dockerhub: https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=ansibleplaybookbundle&starCount=0

Try using one of those and report back if there are any issues.

[2017-12-06 15:40] matihost commented on #172
I just wanted to install `apb` CLI via instruction
https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/apb_cli.md#running-from-a-container

This way seems the best for me as i'm not operating from RH/Centos.

Is there a typo in documentation?
Shouldn't it be `docker pull ansibleplaybookbundle/apb-tools` ?

[2017-12-06 15:42] jmontleon commented on #172
It should be apb-tools. It was changed a day or two ago. I'll update the docs, sorry about that.

[2017-12-06 15:48] #172 closed, assigned to nobody

[2017-12-06 15:56] matihost commented on #172
No problem. Thanks!

[2017-12-07 03:05] rwsu opened #174 "Unable to "apb push -o" using local openshift registry"
When I do a "apb push -o" I am seeing "Execption occurred! 'authorization". It is unclear to me what is the authorization error and how to fix it. I have setup the ansible service broker to use the local openstack registry. Please see config file and details below.

[vagrant@localhost mariadb-apb]$ apb push -o
version: 1.0
id: 5a9eb5f8-cbde-4e62-a30a-9fa30006fc9a
name: tripleo-k8s-mariadb
image: t

[2017-12-07 12:56] rthallisey commented on #174
Did you ```oc login``` before you ran ```oc push -o```?
See if ```oc whoami``` returns a token.

[2017-12-07 14:55] jwmatthews commented on #174
@dymurray any thoughts?

[2017-12-07 15:33] dymurray commented on #174
I agree with @rthallisey It looks like it is failing on this line: https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/20ff568f96b43480d90f309dc123d3f83eaf6749/src/apb/engine.py#L853 which implies that the loading the user config isn't working. I would ensure you have logged in as `admin` and if that still fails please paste all of the output of your `apb push -o`.

[2017-12-08 00:45] rwsu commented on #174
oc whoami was reporting system:admin.

After switching to logging in as admin/admin and switching to running apb-tools from container instead of rpm (rpm repo is broken), I now see:

[vagrant@localhost mariadb-apb]$ apb push -o
version: 1.0
id: 5a9eb5f8-cbde-4e62-a30a-9fa30006fc9a
name: tripleo-k8s-mariadb
image: tripleo/tripleo-k8s-mariadb
description: This is a sample application generated by ap

[2017-12-08 01:34] rthallisey commented on #174
@rwsu do you see a docker-registry pod running in the default namespace?

[2017-12-08 02:10] dymurray commented on #174
@rwsu more specifically to @rthallisey's point: The code is looking for a service name `docker-registry` in namespace `default`. If you can do `oc get svc -n default` and check if docker-registry exists (or if it does exist are the pods running?) II am going to add some better error handling here because these are ugly messages.

[2017-12-08 06:40] rwsu commented on #174
It appears the pods are running:

[vagrant@localhost ~]$ oc get svc -n default
NAME              CLUSTER-IP     EXTERNAL-IP   PORT(S)                   AGE
docker-registry   172.30.1.1     <none>        5000/TCP                  22m
kubernetes        172.30.0.1     <none>        443/TCP,53/UDP,53/TCP     22m
router            172.30.73.28   <none>        80/TCP,443/TCP,1936/TCP   22m

[vagrant@loc

[2017-12-08 21:04] rthallisey commented on #174
The user didn't have the proper permissions to view resources in another namespace.
```oc adm policy add-cluster-role-to-user cluster-admin admin```

[2017-12-08 21:04] #174 closed, assigned to dymurray

[2017-12-19 02:42] rwsu opened #180 "apb does not appear in "apb list" after "apb push -o""
My environment was setup using this guide: https://github.com/openshift/ansible-service-broker#getting-started-with-the-ansible-service-broker
[code]
I went through the steps under "Using apb init" in https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/getting_started.md. But "apb list" doesn't show dh-my-test-apb. Only the default apbs.
[code]

[2017-12-19 14:07] rthallisey commented on #180
I'm wondering if either the broker or the catalog did not properly process the request. Can you post the result of ```kubectl get clusterserviceclass -o yaml | grep my-test-apb```

[2017-12-19 17:05] matzew commented on #180
@rthallisey I have the same probem,

and the command returns nothing

[2017-12-19 17:16] matzew opened #181 "Dockerized apb-tool not able to perform push"
Installing the `apb` CLI locally, via dnf (version `1.1.1.1`), I am able to push to Openshift/ASB. But running into exactly this problem:
https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/180

However, when I am using the same cluster environment (I am using the `run_latest_build.sh` from the ASB), I am not able to perform a push, like:

[code]

This does actually result in t

[2017-12-19 18:05] rwsu commented on #180
Same here, the command returns nothing.

[2017-12-20 13:51] rthallisey opened #182 "Improve error messaging and timeout messages"
A lot of issues are popping up with regards to the apb tool connecting to the broker or the cluster.  I think we need to improve on our error messaging to help identify common issues.  Additionally, I think adding good docs and a series of tests to the apb tool will also help improve its durability.

[2017-12-21 19:09] mhrivnak commented on #137
Thanks for the bug report, and especially for including all the info about your environment! It looks like this was a bug in the kubernetes python library that has since been fixed: https://github.com/kubernetes-incubator/client-python/issues/373

But, it still affects apb users because we have the version pinned to 3.0.0.

As a workaround, if you use a newer version of pip, it will install a "whe

[2017-12-21 21:05] dymurray commented on #180
Can you please paste your broker config?
`oc get configmap broker-config ansible-service-broker -o yaml -n ansible-service-broker`

I think you are missing the configuration for the [local_openshift](https://github.com/openshift/ansible-service-broker/blob/master/docs/config.md#local-openshift-registry) registry config.

[2017-12-22 07:46] jianzhangbjz commented on #137
Thanks for your clear explanation! I will have a try later.

[2018-01-02 20:38] rthallisey commented on #180
Back from the holiday break :). Are you still seeing this @rwsu or @matzew ?

[2018-01-03 05:03] rwsu commented on #180
I'm seeing a different problem during push:

Found registry IP at: 172.30.1.1:5000
Building image with the tag: 172.30.1.1:5000/openshift/tripleo-k8s-mariadb
Successfully pushed image: 172.30.1.1:5000/openshift/tripleo-k8s-mariadb
https://asb-1338-ansible-service-broker.172.17.0.1.nip.io/ansible-service-broker
Error: Attempt to bootstrap Broker returned status: 503
Unable to bootstrap Ansible Serv

[2018-01-04 20:41] pb82 commented on #180
I'm having the same problem. `apb build` and `apb push -o` seem to work fine but the apb is not listed afterwards and also not visible in the service catalog. @matzew @rwsu have you been able to find a fix?

@dymurray running `oc get configmap broker-config ansible-service-broker -o yaml -n ansible-service-broker` show a config map for `broker-config`, but returns `Error from server (NotFound): co

[2018-01-05 09:14] pb82 commented on #180
@rwsu regarding the 503 error, can you try to check the asb pod in the `ansible-service-broker` project in Openshift? Your user should be able to open it from the web console. Is the pod running or are there any errors in it's log?

[2018-01-05 12:56] dymurray commented on #180
@pb82 It sounds like you might need to redeploy the ASB pod after editing the configmap. Your error above is my fault, the command should just read `oc get configmap broker-config -n ansible-service-broker -o yaml`. It was looking for a configmap named `ansible-service-broker` which doesn't exist. Does redeploying the ASB pod help? That will attempt to bootstrap the images in the `openshift` names

[2018-01-05 13:00] pb82 commented on #180
@dymurray I didn't try redeploying yet but i ran `apb bootstrap`. That didn't help. However after adding the local registry config i now see an error in the logs of the ansible-service-broker when i push:

[code]

For now i'm just pushing my apbs to dockerhub, that works fine. But it would be nice to use the local registry.

[2018-01-05 13:11] dymurray commented on #180
@pb82 You definitely need to redepoy the ASB pod or else it won't pick up on the changes to broker-config. You also need to be logged in as a user who has cluster-admin access. Right now you are logged in as the `asb` service account (probably because you just ran the script to deploy the broker). First, log in as an admin user (*not* `system:admin` because it doesn't have a token) and then redepl

[2018-01-05 13:23] pb82 commented on #180
@dymurray Ok, will give it a try later today and add the results here

[2018-01-05 16:39] rthallisey opened #184 "apb list fails with a local broker"
After setting up the broker locally ```apb list``` fails because it uses the etcd route to try and contact the broker.
[code]

[2018-01-05 20:23] #184 closed, assigned to nobody

[2018-01-05 22:03] akostadinov opened #188 "allow rootless operation"
Hi, it is important to allow rootless operation of the tool. In many corporate environments the users are not allowed to have root. Having access to dockersocket makes easy for user to obtain root privileges.

Perhaps look at [rootless containers](https://www.cyphar.com/blog/post/20160627-rootless-containers-with-runc)?

[2018-01-08 17:55] #180 closed, assigned to nobody

[2018-01-08 18:04] rthallisey commented on #180
@rwsu @pb82 let us know if you're still hitting this, but I think the the master branch has the fix.

[2018-01-09 12:19] psturc opened #190 "Cannot retrieve test results when running `apb test`"
Hi, I can't get over the issue with gathering test results when running `apb test`

### Log from pod
[code]
The pod just ends after 5 minutes (as defined in `/usr/bin/test-retrieval-init`), because the test results can't be gathered from [here](https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/src/apb/engine.py#L674)

### Log from terminal
[code]

When I printed out the

[2018-01-09 14:06] rthallisey commented on #190
@shawn-hurley do you have some thoughts on this?

[2018-01-09 14:50] shawn-hurley commented on #190
I am seeing the same behavior. I am wondering if a new version of the python client is needed. I think that the python client is attempting to hit an old pod execution endpoint. I will dig into this and try and get a fix in. @psturc I will keep you updated on this bug as I dig into it.

[2018-01-09 17:41] shawn-hurley commented on #190
@fabianvf @djzager I might need your help.

So I found that it appears according to the [swagger spec](https://github.com/kubernetes/kubernetes/blob/release-1.8/api/swagger-spec/v1.json#L10158) it appears that the Method that is expected is a GET request. The python kubernetes client v3.0 appears to attempt a [post request](https://raw.githubusercontent.com/kubernetes-incubator/client-python/relea

[2018-01-09 17:44] shawn-hurley commented on #190
I have also verified that this would occur with the version of k8s that you are using with openshift.

[2018-01-09 18:22] djzager commented on #190
@shawn-hurley the method you linked to from the [swagger spec](https://github.com/kubernetes/kubernetes/blob/release-1.8/api/swagger-spec/v1.json#L10158) maps to `connect_get_namespaced_pod_exec`, there are other methods on that path with corresponding methods in the [client-python's core_v1_api](https://github.com/kubernetes-incubator/client-python/blob/release-3.0/kubernetes/client/apis/core_v1_

[2018-01-09 18:41] shawn-hurley commented on #190
The swagger spec only has a endpoint that accepts get methods.

The client python has a get and post, currently, the apb tool is using the `connect_post_namespaced_pod_exec`. Because the swagger spec does not have a defined endpoint that I can see for a POST request I think this is why the apb tool cannot connect to the pod.

[2018-01-09 19:01] fabianvf commented on #190
@shawn-hurley is this not the POST endpoint? https://github.com/kubernetes/kubernetes/blob/release-1.8/api/swagger-spec/v1.json#L10241

[2018-01-09 19:21] shawn-hurley commented on #190
I think you nad @djzager are correct. I think I am wrong. This might be some other error then.

[2018-01-11 15:47] cfchase commented on #190
Perhaps https://github.com/kubernetes-incubator/client-python/issues/409 is relevant.

After using the newest version of openshift and kubernetes client source, I ended up getting:

[code]
Seems like a similar issue to what we're seeing when we call exec.

[2018-01-11 18:25] djzager opened #195 "apb prepare can't handle oneline encoded spec"
In the downstream environment, APB Dockerfiles are structured differently than "normal" (after APB init). Where normal looks something like:

[code]

The downstream environment has multiple labels declared using a single LABEL directive like:

[code]

This causes some trouble when using `apb prepare`. See the example below.

#### Before

[code]

#### After
[code]

[2018-01-11 20:02] cfchase commented on #190
Attempting to fix in PR https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/pull/196

[2018-01-12 06:51] rwsu commented on #180
@rthallisey, does https://raw.githubusercontent.com/openshift/ansible-service-broker/master/scripts/run_latest_build.sh
pickup the latest change on master?

I still don't see the apb listed. "apb push -o" returns

Found registry IP at: 172.30.1.1:5000
Building image with the tag: 172.30.1.1:5000/openshift/tripleo-k8s-mariadb
Successfully pushed image: 172.30.1.1:5000/openshift/tripleo-k8s-mariadb

[2018-01-12 13:47] rthallisey commented on #180
@rwsu yes, that runs the latest broker.

Try and update your apb tool to master. There were a few changes recently and master should fix the ```.../ansible-service-broker/ansible-service-broker/...``` double name. Also ```-o``` isn't needed anymore in master. The default with no param is now to push to the openshift registry.

Let me know if that fixes it.

[2018-01-16 20:51] cunningt opened #201 "Pushing to broker on minishift rejected"
Trying to use the apb tool to push to the broker on minishift - I haven't had luck with push without the -o or with --secure either.    I've tried logging in through oc as developer, system, and admin, and none of those options seem to work.

tcunning@tcunning-OSX:/tmp/my-test-apb$ apb push -o
version: 1.0
name: my-test-apb
description: This is a sample application generated by apb init
bindable:

[2018-01-16 22:27] dymurray commented on #201
Hey Tom,

With the latest RPM build (as of in the last hour) `apb push -o` no longer exists. We removed this to end confusion between the two ways one could "push" an APB.

You need to be logged in as a `cluster-admin` user on OCP that has a valid auth token (`oc whoami -t` and cannot be `system:admin`).  Assuming you are logged in, you can then just do `apb push` which will push the container ima

[2018-01-18 13:25] rthallisey commented on #201
@cunningt if you're still seeing the same issue after you do what @dymurray mentioned above then please re open the issue.

[2018-01-18 13:25] #201 closed, assigned to nobody

[2018-01-18 13:32] rthallisey commented on #188
@akostadinov good suggestion. I think it's worth looking at.

[2018-01-18 15:23] rthallisey opened #203 "Create an apb even when it isn't listed in the broker"
**Feature**
It would be awesome to run ```apb provision mariadb``` and get a mariadb instance even if the mariadb instance does exist in the service catalog.  The apb tool can go search through the ansibleplaybookbundle github org for a mariadb apb. Then, it can pull the apb.yaml and set variables, users, and passwords to working values. Finally, the apb tool can push the template to the catalog a

[2018-01-18 15:28] rthallisey opened #204 "apb bind command"
**Feature**
Run ```apb bind``` to bind two instances.  A bind requires the following criteria:
   - The service instances exist
   - A ServiceBinding template
      - Create the ServiceBinding template ([example template](https://github.com/openshift/ansible-service-broker/blob/master/templates/postgresql-mediawiki-bind.yaml))
      - Use the template provides from the cli

[2018-01-18 23:05] eriknelson opened #205 "The asb endpoint randomly loses it's value after prep_local_devel_env.sh has been run"
I'm not sure if something I'm doing triggers this, or if it just happens over time, but randomly the `asb` endpoint will lose it's value and I'll be unable to work with my locally running broker until I rerun the `prep_local_devel_env.sh` script.

**Good Config:**
[code]

**Bad Config:**
[code]

I'm regularly killing the local broker process and rebuilding/running with `make run`, so it's possibly

[2018-01-18 23:06] eriknelson commented on #205
I totally made this in the wrong repo. My bad.

[2018-01-18 23:06] #205 closed, assigned to nobody

[2018-01-19 15:10] dymurray opened #206 "Include bind credentials in apb.yml metadata"
It has been brought up that it would be useful for a developer to be able to know what credentials are exposed in bindable applications without looking deep into the provision role. Ideally these values would be displayed to the end user in the service catalog so that a developer knows how to consume the APB. This could be a new field on `apb.yml`.

[2018-01-19 15:59] tsanders-rh commented on #206
Probably makes sense for us to annotate this in the apb metadata.  +1

-Todd

On Fri, Jan 19, 2018 at 10:10 AM, Dylan Murray <notifications@github.com>
wrote:

--
Todd Sanders
Director, Software Engineering
Red Hat Inc.

[2018-01-19 17:44] rthallisey commented on #206
Would this be only for the keys, for example DB_USER, DB_PASSWORD, and not the values of those keys? I just want to make sure I'm understanding what your definition of values is.

[2018-01-23 16:30] #190 closed, assigned to nobody

[2018-01-24 01:43] rwsu opened #212 "apb push results in "Exception occurred! 'module' object has no attribute 'configuration'""
On a fresh Centos7 VM, I used
apb 1.1.5-1.20180117190645.el7.centos
openshift origin 3.7.1

Pushing to local registry resulted in error.

Using project "ansible-service-broker".
++ oc whoami
admin
++ apb prepare
Finished writing dockerfile.
++ apb build
Finished writing dockerfile.
Building APB using tag: [tripleo-k8s-mariadb]
Successfully built APB image: tripleo-k8s-mariadb
++ apb push
version:

[2018-01-24 01:44] rwsu commented on #180
@rthallisey, I see a different error now. Please see https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/212. Thanks.

[2018-01-24 01:57] rthallisey commented on #180
@rwsu ok I'll have a look

[2018-01-24 02:10] rthallisey commented on #212
@rwsu what version of the openshift python package are you running? See if updating it helps

[2018-01-24 02:11] rthallisey commented on #212
Also update the kubernetes python package.

[2018-01-24 09:48] rwsu commented on #212
What is the OpenShift python package called? In any case, I did a system update and that did the trick. Thanks.

[2018-01-24 09:52] rwsu opened #213 "apb not listed after push"
The custom apb I'm working on isn't being listed in "apb list" after I push it. The simple my-test-apb from the getting started guide is displayed in "apb list" after push, so something is different in the apb I'm working on.

I looked at /var/log/messages to see if I could see an error, but did not see any. Using --debug in "apb push" doesn't provide any additional information.

Where else should

[2018-01-24 14:20] rthallisey commented on #212
```pip install -U openshift kubernetes```

[2018-01-24 14:20] #212 closed, assigned to nobody

[2018-01-24 16:40] sudhirpandey commented on #181
for me the issue was solved by adding the `--net=host` docker run command. But i am then facing same error as https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/212

apb image i am using is `docker.io/ansibleplaybookbundle/apb-tools                       latest              79b05404db24        4 days ago          730.2 MB`

[2018-01-24 16:49] rthallisey commented on #181
@sudhirpandey does ```pip install -U openshift kubernetes``` help fix the error ```"Exception occurred! 'module' object has no attribute 'configuration'"```?

[2018-01-24 16:53] rthallisey commented on #181
Nevermind, you're using the container. I'll check the versions in there.

[2018-01-24 18:01] rthallisey commented on #212
if you're using the containerized apb-tool, try the canary tag.
[code]

[2018-01-24 18:03] rthallisey commented on #181
@sudhirpandey try using the 'canary' tag for the containerized apb-tool.  Latest will need to be rebuilt.
[code]

[2018-01-24 18:49] eriknelson opened #214 "apb tooling needs better docker client error handling"
Currently functions that use the docker client (build/push), are wrapped in a try catch, but they do not examine the docker output stream to scan for errors. This can result in a reported success when the image was not successfully pushed to the registry. I've seen this happen with an auth rejection, but the tool reports success.

See:

https://github.com/ansibleplaybookbundle/ansible-playbook-bun

[2018-01-25 14:00] cunningt opened #215 "If -apb is a required naming convention, should be enforced by apb-tools"
I think @eriknelson mentioned to me that a "-apb" suffix might be a necessary condition to creating a working apb.

If this is true (I don't know enough about apb to know whether it is or not), this seems like something that apbtools should enforce.    Using the apbtools, I can do "apb init foobar / cd foobar / apb prepare / apb build" and waste a bunch of time creating an apb that would be proble

[2018-01-25 14:06] cunningt opened #216 "Can apb push check whether the apb gets listed?"
I hit a nasty issue with the registry-route addon (https://github.com/minishift/minishift/issues/1933) where my apb image was not being pushed by docker correctly.    apb push however was reporting success.

I don't know if this is possible or not - but can apb push verify that the apb was listed in the catalog before reporting success/failure?    If apb push succeeds, and the user goes to the cat

[2018-01-25 14:51] rthallisey commented on #215
It's a good observation @cunningt, thanks for reporting it.

When you deploy the broker by default, the configmap sets the value of ```whitelist``` to ```-apb``` so it only looks for containers with the suffix ```-apb```. https://github.com/openshift/ansible-service-broker/blob/master/templates/deploy-ansible-service-broker.template.yaml#L312

Because it's a configurable value I don't think it's n

[2018-01-25 14:56] rthallisey commented on #216
Yes it can. That's a really good idea for a verification @cunningt. There have been several issues reported in the past about an apb not appearing in the catalog after an ```apb push```. I think this is worth adding.

[2018-01-25 14:58] jwmatthews commented on #215
@rthallisey +1 to your suggestions

@rthallisey might be good to add a warning in future lint tool of apbs to raise warning if name doesn't ends in -apb.

I think of the *-apb name as a useful convention that is helping us and a best practice we recommend, yet if an advanced user wants to remove that I think we should allow with warnings so they aren't surprised.

[2018-01-25 15:39] cunningt commented on #215
Sounds great to me (all of this).    Probably be good to mention it in the getting started guide too.

[2018-01-25 16:26] eriknelson commented on #215
@rthallisey @jwmatthews There seems to be a misconception that the `-apb` suffix is enforced by the whitelist (I had this impression as well). In fact, [the broker enforces this suffix before it even hits the filters, throwing out names that don't end in -apb](https://github.com/openshift/ansible-service-broker/blob/master/pkg/registries/registry.go#L115). It's a hard rule applied to **all** adapt

[2018-01-25 16:37] rthallisey commented on #215
Looks like we do enforce it.  @shawn-hurley you may remember why we kept the ```-apb``` suffix hardcoded.  My guess is we kept it because didn't default the whitelist to ```-apb``` when the [whitelist patch](https://github.com/openshift/ansible-service-broker/pull/271) merged.  Maybe we should change that.

[2018-01-25 17:17] shawn-hurley commented on #215
I think it was because we did not want to try and pull all of the image's metadata if some were not even close to APBs and decided that this was a way to prefilter. The filter code was written to focus on the name of the APB so if we had the names and knew they were APBs then we could filter them and then pull the metadata. The original discussion is [here I think:](https://github.com/openshift/an

[2018-01-26 13:03] sudhirpandey commented on #181
@rthallisey canary worked thanks :).

how ever my alias looks like this
```alias apb='docker run --rm --privileged --net=host -v $PWD:/mnt -v $HOME/.kube:/root/.kube -v /var/run/docker.sock:/var/run/docker.sock -u $UID docker.io/ansibleplaybookbundle/apb-tools:canary'```

with out --net=host, it would fails on `apb list`
[code]

 i guess its expected as it would not be able to connect to cluster w

[2018-01-31 17:46] #181 closed, assigned to nobody

[2018-02-06 15:25] menardorama opened #223 "apb push fail with Exception occurred! 'module' object has no attribute 'get_config_header'"
I am trying to push a sample apb template (https://github.com/ansibleplaybookbundle/rocketchat-apb) and I am facing this error.

I have installed apb using pip on an openshift master.

I've first of all issue an oc login as a user who have clusteradmin role

[code]

Any idea ?

[2018-02-06 16:12] rthallisey commented on #223
@menardorama, if you are installing the apb tool via pip. Update your apb tool, kubernetes, and openshift.
[code]

If you are using it from the container, try the canary tag.
[code]

Let me know if that helps!

[2018-02-10 17:20] rwngwn commented on #213
I had probably similar issue, but for me it was kind of miss-configuration issue.
I realized that apb **name** must by default end up with  '-apb' as is required in [broker config](https://github.com/openshift/ansible-service-broker/blob/ansible-service-broker-1.1.10-1/templates/deploy-ansible-service-broker.template.yaml#L312) and is described in the [docs](https://github.com/openshift/ansible-se

[2018-02-10 17:22] eriknelson commented on #213
This restriction was recently removed from master and should be available in a release soon.

[2018-02-26 14:24] #215 closed, assigned to nobody

[2018-02-26 19:30] eriknelson opened #235 "Update is not explained in the design doc"
https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/design.md#actions

Design doc has fallen out of date and doesn't include anything wrt update.

[2018-02-27 14:06] cunningt opened #236 "apb not listed after successful push"
Seeing this on Mac OS X using oc cluster up (non-minishift).    APB tool built from source, prepare/build/push are successful but when I apb list or check the catalog in the console, I can't find the apb I've just pushed.

tcunning@tcunning-OSX:/tmp/foo-apb$ apb push

version: 1.0
name: foo-apb
description: This is a sample application generated by apb init
bindable: False
async: optional
metadata

[2018-03-01 02:33] jonnyfiveiq opened #237 "apb push fails with "Exception occurred! 'NoneType' object has no attribute 'split'""
Hello,

Following the example word for word here https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/getting_started.md

apb push fails as follows;

$ apb push
# apb.yml
version: 1.0
name: my-test-apb
description: This is a sample application generated by apb init
bindable: False
async: optional
metadata:
  displayName: my-test
plans:
  - name: default
    description

[2018-03-01 12:48] StevenTobin commented on #237
I hit this issue when my user didn't have the correct roles. I fixed it by doing this

`oc login -u system:admin`
`oc adm policy add-cluster-role-to-user cluster-admin developer`
`oc adm policy add-cluster-role-to-user access-asb-role developer`
`oc login -u developer -p developer`

[2018-03-01 12:50] dymurray commented on #237
This error is caused when the logged in user doesn't have an associated authentication token. You can see if your user has this by typing `oc whoami -t`. This issue was just fixed in master 3 days ago to output a better error. Please switch to a user with proper permissioning that has an auth token. Following @StevenTobin's instructions should get you there.

[2018-03-01 12:51] dymurray commented on #237
This is fixed in: https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/pull/233

[2018-03-01 14:32] #237 closed, assigned to nobody

[2018-03-01 14:42] dymurray commented on #236
I think we need to get better about handling errors from docker push.. I will take a look at the very least printing out the error. Usually you can see what the error is if you manually do `docker push 172.30.1.1:5000/openshift/foo-apb`

[2018-03-01 14:46] cunningt commented on #236
The error here was that the oc user I was using did not have rights to push to openshift - but it was pretty difficult to figure that out - definitely agree that printing out the errors would be really useful to the user.

[2018-03-01 14:52] eriknelson commented on #236
@dymurray agreed re: the error output. Unfortunately it's not as simple as catching an exception, we're going to need to open a pipe and parse the stream that docker is outputting, unless there is a better way to deal with that client that I'm unaware of. An error status would be ideal.

[2018-03-02 13:39] dymurray commented on #236
@eriknelson yeah I was actually trying to figure out a fix yesterday. One solution I had was to simply parse the output for `Error` and print the adjacent string. It wasn't great though so I want to spend some more time investigating the docker client package.

[2018-03-06 09:30] jonnyfiveiq commented on #237
Ok, followed @StevenTobin suggestion, but still fails as follows (different error though);

version: 1.0
name: my-test-apb
description: This is a sample application generated by apb init
bindable: False
async: optional
metadata:
  displayName: my-test
plans:
  - name: default
    description: This default plan deploys my-test-apb
    free: True
    metadata: {}
    parameters: []
Found registry IP

[2018-03-06 09:45] jonnyfiveiq commented on #237
excuse my error...I simply had not run apb push within eval $(minishift docker-env), works fine. thanks

[2018-03-06 11:01] jonnyfiveiq commented on #236
I think I have the same issue, after a successful push the image is not in the catalog, I do a APB list and nothing,,

I did try apb push --push-to-broker --broker asb-1338-ansible-service-broker.192.168.64.26.nip.io and this seem to register the image but as "apb-push-cat-test", this then shows up in the catalog....though after an extended amount of time,,,and apb list does not speed that up, tho

[2018-03-08 11:44] jonnyfiveiq opened #241 "APB Push, no image to pull"
After pushing to the catalog as follows;

$ apb push
version: 1.0
name: miqfisherprice
description: My first demo app to show the provision of new user in ManageIQ
bindable: False
async: optional
metadata:
  displayName: FisherPrice User Demo
plans:
  - name: default
    description: This default plan deploys miquser
    free: True
    metadata: {}
    parameters: []

Finished writing dockerfile.

[2018-03-08 11:51] jonnyfiveiq commented on #241
![dsfasfdfdg](https://user-images.githubusercontent.com/2084157/37149725-f619db0a-22c6-11e8-9c9d-1dec1ed9e9ee.png)

[2018-03-08 12:51] dymurray commented on #241
@jonnyfiveiq This looks like it is due to the image name used in the deployment config. You must specify the full name of the image including the registry path. This appears to be searching the default registry paths for just `miqfisherprice`. Can you please paste your deploymentconfig?

Can you also paste the output of `oc get images | grep miq` to ensure the image is in the registry?

[2018-03-08 12:54] dymurray commented on #236
@jonnyfiveiq I am willing to bet this is due to your broker configuration. I think that the broker is failing to bootstrap images from the internal registry if the image was successfully pushed and you didn't see it in `apb list`.

Can you please paste the output of `oc get configmap broker-config -n ansible-service-broker -o yaml`?

[2018-03-08 13:25] jonnyfiveiq commented on #236
Sure, here is the output

apiVersion: v1
data:
  broker-config: |
    registry:
      - type: "dockerhub"
        name: "dh"
        url: "https://registry.hub.docker.com"
        org: "ansibleplaybookbundle"
        tag: "latest"
        white_list:
          - ".*-apb$"
      - type: local_openshift
        name: localregistry
        namespaces: ['openshift']
        white_list:
          - ".*

[2018-03-08 13:29] jonnyfiveiq commented on #236
So my steps to reproduce are as follows;

Follow minishift start instructions and addon install located here https://github.com/eriknelson/minishift-addons/tree/asb-updates/add-ons/ansible-service-broker

Then apply permissions as follows;

oc login -u system:admin
oc adm policy add-cluster-role-to-user cluster-admin developer
oc adm policy add-cluster-role-to-user access-asb-role developer
oc log

[2018-03-08 14:29] cunningt commented on #236
@jonnyfiveiq The problem I had was that I didn't have permissions using the developer user to push an image to the openshift project.    Maybe give pushing a 172.30.1.1/openshift/<whatever>:1.0 image a try after docker -u login developer?

[2018-03-08 15:18] jonnyfiveiq commented on #241
$ oc get images | grep miq
sha256:7f51bf002fca006b6b99345b0d9b3ec99d293d5173b7da942942a58e2763ca34   172.30.1.1:5000/openshift/miqfisherprice@sha256:7f51bf002fca006b6b99345b0d9b3ec99d293d5173b7da942942a58e2763ca34

$ apb list | grep miq
returns nothing.....its not in the list.

oc login -u developer -p developer
Login successful.

apb push

Building APB using tag: [172.30.1.1:5000/openshift/miqfis

[2018-03-08 15:28] dymurray commented on #241
@jonnyfiveiq I think I know what the problem is. Your broker config that you showed me in the other issue will not bootstrap APBs from the internal registry unless it passes the whitelist requiring all names to end in `-apb`. Please change the name of the APB from `miqfisherprice` to `miqfisherprice-apb` and rerun `apb push`. I think this will at the least display the APB in `apb list`.

[2018-03-08 15:39] dymurray commented on #241
@jonnyfiveiq if you are on IRC and still having trouble feel free to ping me on FreeNode #asbroker.

[2018-03-08 16:31] jonnyfiveiq commented on #241
Thanks @dymurray you are correct....the name must contain APB, otherwise strange results..I have managed one successful test, as soon as I added the suffix -APB to my name in apb.yaml. I will keep playing, but it looks like this may have been the issue here.  thanks

[2018-03-08 17:46] jonnyfiveiq commented on #241
defo close this, you must put -apb in the name. though I would expect the apb build or push to do/capture this.
 thanks

[2018-03-08 17:46] #241 closed, assigned to nobody

[2018-03-08 17:49] jonnyfiveiq commented on #236
I think my issue was linked to not having -apb suffix in the apb name declaration...has very odd behaviour.

[2018-03-08 17:52] tsanders-rh commented on #241
Yes, I agree....the tooling should be more helpful in this scenario.  This
is only because currently the default whitelist filter in the broker config
is: "*-apb"; which could be changed *if* you don't want to change the
name.  We are looking at relaxing this default for development installs to
"*".

On Thu, Mar 8, 2018 at 12:46 PM, John Hardy <notifications@github.com>
wrote:

--
Todd Sanders
Dir

[2018-03-08 21:20] mkanoor commented on #236
@cunningt How does you add "push" rights for a oc user in open shift? I am having a similar issue and I would appreciate your help.

[2018-03-08 21:37] eriknelson commented on #236
@mkanoor There are a number of required permissions before you are going to be able to use the apb tool to push to the local registry. If you are using the [minishift-addon](https://github.com/minishift/minishift-addons/tree/master/add-ons/ansible-service-broker) with minishift, the developer user is automatically permissioned with the ability to push.

If you have somehow manually deployed the br

[2018-03-08 22:28] mkanoor commented on #236
@eriknelson
I am on Mac using OpenShift with Docker.
[code]
I have installed apb using pip
[code]
That still gives me a 403, it seems like its missing some roles.

I added
curl "https://raw.githubusercontent.com/ansibleplaybookbundle/ansible-playbook-bundle/master/templates/openshift-permissions.template.yaml" | oc process -p USER=$YOUR_USERNAME -f - | oc create -f -

I still get a 403, I ran into

[2018-03-08 23:22] eriknelson opened #242 "APB bootstrap failing with run_local_build.sh deployment on mac."
Quoting @mkanoor from #236:

@eriknelson
I am on Mac using OpenShift with Docker.
[code]
I have installed apb using pip
[code]
That still gives me a 403, it seems like its missing some roles.

I added
curl "https://raw.githubusercontent.com/ansibleplaybookbundle/ansible-playbook-bundle/master/templates/openshift-permissions.template.yaml" | oc process -p USER=$YOUR_USERNAME -f - | oc create -f -

[2018-03-08 23:22] eriknelson commented on #236
@jonnyfiveiq We added an issue to track a proposed change to remove that name restriction, and I opened a PR to make the change. Issue: https://github.com/openshift/ansible-service-broker/issues/823, PR: https://github.com/openshift/ansible-service-broker/pull/827. EDIT: Change has been merged.

In an effort to avoid this becoming a kitchen sink issue for all apb push related problems, @cunningt @

[2018-03-08 23:35] eriknelson commented on #242
@mkanoor applying the cluster role `cluster-admin` to the developer essentially gives developer cluster root privileges, so it is unlikely you are missing a role, and you can safely ignore the template I mentioned because that tries to apply fine grained access rights without granting root privileges.

I will try to reproduce this and report back.

[2018-03-09 00:19] eriknelson commented on #242
I'm able to reproduce this following your steps on a fedora machine as well, so this isn't unique to the mac. Digging into this.

[2018-03-09 00:35] eriknelson commented on #242
@mkanoor Found the root issue, 2 things:

1) `run_local_build.sh` logs in as `system:admin` to ensure it can create the required broker resources. `apb` requires a user with a token to execute its commands, and `system:admin` does not have a token. This is why you are seeing a 403 error; because you ran our script, you are no longer developer.

Solution: run `oc login -u developer` after you have

[2018-03-09 13:51] jonnyfiveiq commented on #236
yes my issue is closed, naming the APB with -APB fixes my issues with PUSH, of which I saw two, 1) where the apb would not list, or if it did list 2) it would not pull image. With the -APB added to name, I have not seen either issue since. thanks

[2018-03-09 15:51] mkanoor commented on #242
@eriknelson
I am seeing the token after I do the oc login as developer.
But I still get a 403
[code]

[2018-03-09 15:58] mkanoor commented on #242
@eriknelson
I take it back. I seems to be working with your suggestions.
Thanks for your help 👍

[2018-03-09 16:33] #242 closed, assigned to eriknelson

[2018-03-09 16:38] mkanoor commented on #236
@eriknelson @dymurray
I am using open shift I see the apb push being successful but the apb list doesn't show the apb?
I tried @jonnyfiveiq 's suggestion of using suffix -apb, that didn't help either.

[code]

[2018-03-09 16:54] eriknelson commented on #236
@mkanoor's issue is solved and we're going to close this and open an issue that tracks the specific problem of `apb push` error reporting. Thanks all.

[2018-03-09 16:54] #236 closed, assigned to nobody

[2018-03-09 16:58] eriknelson opened #243 "apb push reports success even when the docker push has failed."
This might be a dupe because I think I made this issue previously but...

The docker client's push does not throw an Exception on a failed push. I am not sure if there is a better way to detect an error case, but you can open a pipe and read docker's output, parsing for an error. This is not ideal at all, so we should:

1. Investigate if there is a more reliable way of detecting a failed push asid

[2018-03-09 17:00] eriknelson commented on #243
@jonnyfiveiq @tcunning closed #236 in favor of opening an issue specifically tracking this.

[2018-03-09 19:45] mkanoor commented on #243
@eriknelson When I tried looking at the docker logs I see the following error message
[code]

[2018-03-15 15:08] dymurray commented on #243
@mkanoor Do you mind printing the version of the APB tool you are using? Also, it appears you are logged in as "system:anonymous", can you ensure that `oc whoami -t` returns a token and that the logged in user has access to the images?

To test this you can do: `oc get images`. If that succeeds then I wouldn't expect to see this error.

[2018-03-16 13:44] dymurray opened #244 "APB tool does not catch invalid Specs"
The APB tool needs better linting of the APB spec. You can break `apb push` by setting a blank description. The broker bootstraps the spec successfully and an error only occurs when the Service Catalog tries to list the catalog. To reproduce:

`apb.yml`
[code]
Do a successful `apb push`.

See this in the controller manager logs:
[code]

[2018-03-16 14:18] mkanoor commented on #244
@dymurray
SyncingCatalog Error syncing catalog from ServiceBroker. Error reconciling ClusterServiceClass (K8S: "ab69b2bb5a3b1fe973ce05af20ba5047" ExternalName: "localregistry-cfme_rhev-apb") (broker "ansible-service-broker"): ClusterServiceClass.servicecatalog.k8s.io "ab69b2bb5a3b1fe973ce05af20ba5047" is invalid: spec.externalName: Invalid value: "localregistry-cfme_rhev-apb": a DNS-1123 subdomain

[2018-03-16 15:43] djzager commented on #244
I'm genuinely curious how the APB tool is going to do validation that even the Broker is not doing. Is this validation something that we should be pushing onto the broker?

What I do know about the `apb push` flow is that we push the image to the internal OpenShift registry, tell our Broker to bootstrap, and bump the `relistRequests` on the `ClusterServiceBroker`. The interesting part about this i

[2018-03-16 16:02] eriknelson commented on #244
Exactly correct!

I don't actually think this is a bad thing? I just want to see everyone using the same rules. If we can catch it in the client using the same logic the broker does, that's great.

I've been pushing for a libapb (now lib-bundle) because I want to see a reusable lib that canonically defines what a bundle is, and can validate whether or not it is valid. The broker ultimately shouldn

[2018-03-16 17:56] djzager commented on #244
That sounds reasonable to me.

I agree

[2018-03-16 22:38] mkanoor commented on #244
The Open Service Broker API spec has restrictions on names.
https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md

e.g.
name*	string	The CLI-friendly name of the plan. MUST only contain lowercase characters, numbers and hyphens (no spaces). MUST be unique within the service. MUST be a non-empty string.

description*	string	A short description of the plan. MUST be a non-empty str

[2018-03-16 23:00] eriknelson commented on #244
@mkanoor I didn't realize that was a spec level constraint! Thank you for pointing that out, we need to get our stuff updated asap. @dymurray

That's the kind of stuff I would love to capture in the lib, so everything inherits the library's validation rules.

[2018-03-19 15:31] dymurray commented on #244
+1, I am definitely opposed to closing this. This is a real crappy experience for a developer and it would be pretty trivial to put client side validation to prevent this.

[2018-03-19 15:42] djzager commented on #244
That was totally my fault. I was trying to exit out of a reply to @eriknelson and hit the "Close and comment" because I always confuse it for "Cancel". I agree that this is a crappy experience and should be fixed. @eriknelson had a great point when he said:

[2018-03-21 15:51] mkanoor commented on #244
Another issue is the parameter names used internally by the APB

"_apb_plan_id":"default",
"_apb_service_class_id":"7a531cb95ab6e6fdeae1fc7211474d9c",
"_apb_service_instance_id":"1039b299-f131-4bca-a701-6faa8c876d6d"
"namespace": "My Project"

If the user created a parameter called namespace they won't know its reserved and would end up overwriting it

[2018-03-27 13:21] dymurray commented on #137
Closing this issue since the kubernetes client bug has been resolved..

[2018-03-27 13:21] #137 closed, assigned to nobody

[2018-04-02 15:26] jwmatthews opened #253 "Remove local docker requirement for developer workflow"
Allow a developer to build/test/iterate on APB development to a remote cluster without requiring docker usage on their local machine.

This issue was raised by @akostadinov

[2018-04-02 15:32] jwmatthews opened #254 "Improve developer workflow so pushed APBs are restricted to private namespace"
This RFE requires namespace ClusterServiceClasses to be supported in the Service Catalog.  That work is actively being developed in sig-service-catalog and expected to be in upstream perhaps in ~next month or two.

Once the ability to publish ClusterServiceClasses to a particular namespace is popular we should document a workflow of leveraging this so a developer working on a shared remote cluster

[2018-04-02 16:00] eriknelson commented on #254
Just providing some additional context: as long as the namespaced broker is configured to discovered these namespaced APBs, any services reported to the catalog will automatically be created as `ServiceCatalog` objects, scoped and deployable to that namespace, without impacting other tenants.

[2018-04-02 19:34] jwmatthews commented on #253
@dymurray added a documentation workaround that will not require local docker access here
https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/pull/257

[2018-04-03 13:01] dymurray commented on #253
Please let me know if the above workaround allows you to get the image bootstrapped from the broker without Docker.

[2018-04-03 13:45] mhrivnak commented on #253
@dymurray 's solution is great.

Just to throw out another option that may work for some people, you should be able to build locally with this: https://github.com/projectatomic/buildah

[2018-04-03 13:47] jwmatthews commented on #253
@mhrivnak following on @mhrivnak's suggestion, we should target a blog post/demo in future for exploring buildah and developer workflows.

[2018-04-11 15:37] mkanoor opened #261 "On and off failure during mini shift start: not yet ready to handle request"
When I run the
[code]

It generates an error
[code]

Is this a timing issue?

This is the whole sequence of output
[code]

[2018-04-11 15:49] eriknelson commented on #261
This looks more appropriate to be logged against minishift than this repo.
We are responsible for the template broker, but this looks to be
potentially oc or minishift related.

On Wed, Apr 11, 2018, 11:37 AM Madhu Kanoor <notifications@github.com>
wrote:

[2018-04-11 15:50] djzager commented on #261
@mkanoor your contribution is appreciated. I'm not sure though that an issue against this project is the most prudent route. Have you discussed this issue with any one from the [minishift project](https://github.com/minishift/minishift). This looks (albeit at a glance) like an issue with the service-catalog component of minishift.

[2018-04-11 15:54] mkanoor commented on #261
@eriknelson @djzager
Is it possible to figure out from the logs what failed during the
Registering template service broker with service catalog ... FAIL because I think the install went fine
-- Installing template service broker ... OK

[2018-04-11 16:16] djzager commented on #261
@mkanoor
It's worth pointing out that this project in particular has **no** ties to minishift, service catalog, or the template service broker. That is the reason @eriknelson and myself were pointing you to the [minishift project](https://github.com/minishift/minishift).

Your initial guess appears a reasonable one...that this is a timing issue. I don't know the specifics of how minishift brings u

[2018-04-11 16:17] mkanoor commented on #261
I found this link
https://github.com/kubernetes-incubator/service-catalog/issues/1913

[2018-04-11 16:17] #261 closed, assigned to nobody

[2018-04-18 01:50] jianzhangbjz commented on #188
+1, @rthallisey Any update? Maybe we can new a card to support this. What do you think?

[2018-04-18 13:04] rthallisey commented on #188
We're looking at re writing the apb tool to incorporate the bundle-lib library in the near future.  At that point, I think we'll evaluate the scope of the apb tool and perform a more in depth security audit so folks can use it in environments that require non root.

[2018-04-19 01:57] jianzhangbjz commented on #188
OK, that's great! Thanks!

[2018-04-24 11:31] odra opened #265 "conditional apb param"
Hello,

Is there a way to:
* show/hide a field based on some criteria?
* skip a plan (or not) based on a parameter's value?

For example, a field should only be shown if another field is set/filled/validated.

Thanks.

[2018-04-24 12:37] jmontleon commented on #265
Regarding the first one there currently is not. I think we'd like to find a way as it's come up multiple times.

The second one I am not sure I fully understand. In the current UI work flow plan selection happens before filling out/selecting parameters, so I'm not sure how we could skip the plan based on parameter values. Can you explain a little further about what you'd like to see here?

[2018-04-24 12:45] odra commented on #265
Something similar when I add a parameter in `bind_parameters`.

If I choose to create the binding during the apb creation it will add a "Parameter" step right after the "Biding" one:

![screenshot from 2018-04-24 09-41-41](https://user-images.githubusercontent.com/2183506/39187532-f4f1202e-47a3-11e8-857d-b164ddc916ba.png)

I was thinking if such behavior could be applied based on some criteria (ch

[2018-04-24 16:01] maleck13 commented on #265
@odra there is an on going discussion here https://github.com/openshift/ansible-service-broker/issues/859 on the topic

[2018-04-26 01:13] JJediny opened #269 "UX: Difference between APB and "Role" in Ansible Galaxy"
As a user...

I found/find myself struggling to understand the best way to format my git repository for an APB `service` that is also currently being used as an ansible [`role`](https://docs.ansible.com/ansible/2.5/user_guide/playbooks_reuse_roles.html) in production . Is there a way to structure an ansible repository to support both sets of best practices?

### Role example from https://docs.ansi

[2018-04-26 01:47] rthallisey commented on #269
Hey @JJediny great question.  What I would recommend is following a similar pattern that kubevirt did.  The apb is in the [kubevirt-apb](https://github.com/ansibleplaybookbundle/kubevirt-apb) repo and the "production playbooks" are [kubevirt-ansible](https://github.com/kubevirt/kubevirt-ansible).

This model separates the apb from the ansible-playbook and pulls in the ansible-playbook with a ```an

[2018-05-01 13:24] dymurray commented on #269
@JJediny I want to add on top of Ryan's comments that we are looking to refactor the APB format so that it better conforms to a Galaxy role. The timeline for this is probably end of May. This will allow you to publish and share APBs on Galaxy as well.

[2018-05-01 15:31] odra opened #277 "field display_type property "textarea" being shown as regular input field in update view"
Hello,

I have defined the following parameter in my apb plan:

[code]

The field is shown as a textarea html field when provisioning a new service but it is shown as a regular input html field when I click on the "edit" button in the service details:

![screenshot from 2018-05-01 12-29-04](https://user-images.githubusercontent.com/2183506/39479347-5bb90154-4d3b-11e8-8986-a804482dfb02.png)

[2018-05-01 15:34] djzager commented on #277
@dymurray you likely know better than me, is this an issue that should be raised against https://github.com/openshift/origin-web-console ?

[2018-05-03 14:13] rthallisey commented on #277
@odra I looked at the "Blank Virtual Machine APB" in the service-catalog and textarea doesn't get this issue.  Here's what the code for it looks like: https://github.com/ansibleplaybookbundle/virtualmachines-apb/blob/master/apb.yml#L28-L32

If the issue persists, open an issue with the web-console more visibility.

[2018-05-03 14:13] #277 closed, assigned to nobody

[2018-05-03 14:52] odra commented on #277
@rthallisey that field is not updatable, the problem only shows up in the update-catalog view.

Will open an issue in the web-console repo anyway.

Thanks.

[2018-05-04 09:25] beekhof opened #283 "apb list is broken due to exception in get_asb_route()"
# apb list
Exception occurred! unsupported operand type(s) for +: 'NoneType' and 'str'
#

I traced this to a problem in get_asb_route()
Replacing https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/09e689e0bccda955834f242875d66ddf1fc12ebb/src/apb/engine.py#L407

   if 'asb' in route.metadata.name and 'etcd' not in route.metadata.name:

with
   if 'ansible-service-broker' in route

[2018-05-09 11:58] ruromero opened #286 "apb run defined empty parameters"
As an APB developer I would like `apb run` to behave the same as the UI. If a parameter is intentionally left  empty it is defined and its value is "" (empty string) which requires the developer to be aware of this behaviour.

E.g.
[code]
This is the typical way of checking a variable is defined. The outcome will be "" if executed through `apb run` and generated using the UI.

Although is easy to

[2018-05-10 00:37] jjo opened #287 "apb-docker-run.sh should follow $KUBECONFIG if set"
It's usual practice to ab-use KUBECONFIG env var to avoid
messing with one's "golden" ~/.kube/config, specially if mixing
dev/staging/production clusters.

apb-docker-run.sh lacks any $KUBECONFIG reference,
should map it (`-v`) and set env (`-e`).

[2018-05-10 13:10] #287 closed, assigned to nobody

[2018-05-10 13:12] dymurray commented on #283
Hm... the route should be named asb-1338 unless I'm mistaken... so I'm not sure how this would work? `route.metadata.name` I believe returns asb-1338 on my calls. Would you mind printing out what that returns for you?

[2018-05-10 13:42] dymurray commented on #265
Related PR: https://github.com/automationbroker/bundle-lib/pull/70

[2018-05-11 09:09] ruromero opened #289 "parameters groups in apb.yml"
After working on some APBs I found quite error prone and difficult to maintain the fact that is not possible to aggregate different sets of parameters in multiple plans.

Given the following plans with parameters:
* Ephemeral
  * admin_user
  * admin_password
* Persistent
  * admin_user
  * admin_password
  * db_size

This setup forces the developer to duplicate all the parameter definitions. In s

[2018-05-11 13:34] djzager commented on #289
In the end, it is just YAML. If you can use anchors and aliases to construct valid YAML, then it shouldn't be a problem. I'm not sure what we could do to improve on this.

[2018-05-11 14:49] ruromero commented on #289
@djzager Indeed I don't see how this could be possible with the current model and without any pre-processing. Anchors and aliases don't allow adding elements to lists.
Maybe defining all the possible parameters as aliases and then just overriding things like `required` or `display_group` would reduce the errors and the duplicated code. What do you think?

[code]

[2018-05-11 14:57] erdeiattila opened #290 "Unresolved dependencies for CLI tools on Fedora 28"
Trying to install APB CLI tools on Fedora 28 with

[code]

Throws the following error:

[code]

Similar thing happens when trying to build with tito from source:

[code]
[code]

python-docker is not available from the Fedora repo, but python2-docker and python3-docker are:
(not sure if this has any significance)
[code]
System:
[code]

[2018-05-11 15:49] jmontleon commented on #290
Thansk for the report. It looks like python2-docker was updated to 3.2.1 in Fedora 28.

I submitted a PR that I think will solve this rather easily.
https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/pull/291

Please be aware that when this gets merged and built you're likely going to hit an issue with google-auth/pyasn1-modules. python2-google-auth was updated to 1.3.0 in F28, but p

[2018-05-11 17:34] erdeiattila commented on #290
No problem!
Out of curiosity:
Looking at the PR, how can ...
[code]
...solve this? The python-docker package is not available from the Fedora repo, only python2-docker and python3-docker are. Won't it still try to fetch the first, even with the relaxed requirements?

[2018-05-11 17:40] jmontleon commented on #290
python2-docker satisfies it.

sudo dnf whatprovides python-docker
Failed to synchronize cache for repo 'beaker', disabling.
Last metadata expiration check: 2:41:27 ago on Fri 11 May 2018 10:58:01 AM EDT.
python2-docker-3.2.1-1.fc28.noarch : A Python library for the Docker Engine API
Repo        : @System
Matched from:
Provide    : python-docker = 3.2.1-1.fc28

python2-docker-3.2.1-1.fc28.noarch :

[2018-05-11 17:50] #290 closed, assigned to nobody

[2018-05-16 12:28] djzager commented on #269
@JJediny just wanted to make you aware that we have updated a few of our APBs to better conform to Galaxy role style.

  - https://github.com/ansibleplaybookbundle/mediawiki-apb/pull/31
  - https://github.com/ansibleplaybookbundle/postgresql-apb/pull/45
  - https://github.com/ansibleplaybookbundle/mariadb-apb/pull/31
  - https://github.com/ansibleplaybookbundle/mysql-apb/pull/31

The most importan

[2018-05-17 09:43] #289 closed, assigned to nobody

[2018-05-23 13:44] isacssouza commented on #244
I also had a hard time debugging an invalid plan name (https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/issues/244#issuecomment-373863718) and agree that client-side checking of the spec would help a lot in development of apbs.

[2018-05-31 08:09] silencehe09 opened #298 "“apb list”: Exception occurred! [Errno 2] No such file or directory: '/root/.kube/config'"
Dear author:
I need your help. I have commented the condition "apb should not be run as root" in  apb-docker-run.sh , because I have to run docker with root user (without considering about security  in my experimental env).  And I have  run "apb init apb-demo  && cd  apb-demo && apb build " successfully. But I got exception when executing  "apb list", "apb bootstrap"  and so on. I have already log

[2018-05-31 13:46] cmoulliard opened #300 "apb-docker shell script fails using minishift"
script reports that it can't access tjhe docker daemon running in minishift while a docker ps command issued from my MacOS terminal works

[code]

BUT

[code]

[2018-06-01 20:58] fmontaldo3 opened #302 "apb list error"
Hi,

I enabled ansible-service-broker on minishift 3.9 but I cannot list with apb as developer user or admin.
[fmontaldo@arofflab01 ~]$ minishift version
minishift v1.15.1+f19ac09
CDK v3.4.0-2
[fmontaldo@arofflab01 ~]$

[fmontaldo@arofflab01 Documents]$ apb list
Contacting the ansible-service-broker at: https://asb-1338-ansible-service-broker.192.168.42.10.nip.io/openshift-automation-service-broke

[2018-06-04 22:26] fmontaldo3 opened #304 "Exception occurred! local variable 'InsecureRequestWarning' referenced before assignment"
Hi,

I followed the instruction to install ansible broker into minishfit. I made the following:

minishift version
minishift v1.15.1+f19ac09
CDK v3.4.0-2

oc cluster up --service-catalog=true
oc login -u system:admin
oc new-project ansible-service-broker
curl -s https://raw.githubusercontent.com/openshift/ansible-service-broker/master/templates/simple-broker-template.yaml | oc process -n "ansible-

[2018-06-19 08:48] jianzhangbjz commented on #188
@rthallisey Do we have a plan to implement this for 3.11? cc: @chengzhang1016 @zihantang-rh

[2018-06-19 13:15] rthallisey commented on #188
The [automationbroker/sbcli](https://github.com/automationbroker/sbcli) repo has been created.  I think this issue should be copied over there to get picked up.  @jianzhangbjz can you re file the issue?

[2018-06-19 18:09] rthallisey commented on #188
Copied over the issue,, closing

[2018-06-19 18:09] #188 closed, assigned to nobody

[2018-06-27 09:36] ghost opened #309 "Exception occurred! not enough arguments for format string"
Tried both container based option and building from source.

[code]

Fedora 28
Docker 17.12
Python 2.7.15

[2018-06-30 05:35] ghost opened #312 "Question: Is it possible to create objects in openshift namespace?"
Quite a simple question: in my APB I need to create imageStreams and buildConfigs in OpenShift namespace. I failed to find any docs on how to grant APB service account admin privileges.

Currently I see this:

[code]

Is there any way to grant  `system:serviceaccount:localregistry-test-prov-h8tmm:bundle-xxx` cluster-admin role?

[2018-07-02 13:06] djzager commented on #312
I think the primary hurdle that you will face is that the APB service account is using a `RoleBinding`. This means that, even if you were to grant the APB service account `cluster-admin` privileges (and this would involve modifying the [cluster role the broker uses](https://github.com/openshift/ansible-service-broker/blob/master/apb/defaults/main.yml#L23) as well as the [sandbox role](https://gith

[2018-07-03 09:22] ruromero commented on #312
An example:
In the apb.yml file
[code]
Then in your playbooks/roles
[code]
And then you can try out with this from the command line (if you need to):
[code]

[2018-07-03 09:33] ghost commented on #312
@ruromero thanks. That might be a workaround in my case.

[2018-07-03 12:38] ghost commented on #312
@djzager @ruromero

I never got to work the following task:

[code]

When providing a token I get:

[code]

Same results, when having username and password.

[2018-07-03 19:50] rgolangh commented on #298
Edit the script again, and in the place where it says `-u $UID` put `-u 1000` . If that works well I'll send a patch to fix it, like in this one here https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/52cff6fb5d7445ad0820a988491ab804672f42c9/scripts/apb-docker-run.sh#L46

[2018-07-05 00:01] gaurav-nelson opened #313 "Question: Does APB or ABP CLI requires Ansible 2.5?"
There is no mention of this in the [prerequisites](https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/apb_cli.md#prerequisites) section.

PS: https://github.com/openshift/openshift-docs/issues/10436

[2018-07-05 14:02] djzager commented on #313
The APB CLI, as I understand it, has no requirements on the version of Ansible installed.  @dymurray do you have any thoughts on this?

[2018-07-05 22:47] gaurav-nelson commented on #313
@djzager Thanks for looking at this.
I have revised the question, does APB or APB CLI requires Ansible 2.5?

[2018-07-06 17:02] jmrodri opened #314 "Reference how to enable async bind on Service Catalog"
The async bind doc should reference how to enable async bind on the Service Catalog

https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/getting_started_async_bind.md

The text can be found in the following blog:
https://blog.openshift.com/asynchronous-bind-with-the-automation-broker/

We should also link to the blog from the doc

[2018-07-06 17:58] djzager commented on #313
@gaurav-nelson
When you say "APB" I assume you are referring generically to an APB container image, for example `postgresql-apb`. All of our APB images are based off of the [apb-base container image](https://github.com/ansibleplaybookbundle/apb-base) and while the [apb-base-scripts RPM](https://github.com/ansibleplaybookbundle/apb-base/blob/master/apb-base-scripts.spec) does not specifically requi

[2018-07-12 02:20] dymurray opened #315 "`apb test` fails with "Waiting for the user to gather the test resutls...""
https://gist.github.com/jjo/2391dbb1125f01d06830b0145d8de2dd

The above gist are logs from an `apb test`equivalent call but usnig `oc run`. I cannot tell if this is due to the Ansible code or from `bind-init` functionality within the broker. I am using this issue to track it.

[2018-07-12 12:15] ghost commented on #309
Fixed by adding a user as cluster admin

[2018-07-12 12:15] #309 closed, assigned to nobody

[2018-07-13 00:19] gaurav-nelson commented on #313
@akesterton Can you please provide some insights here about the issue you encountered with Ansible version?

[2018-07-13 06:18] akesterton commented on #313
Hi

A customer has been trying to use the APB - they are running OpenShift 3.9.  OpenShift 3.9 ships with Ansible 2.4, and we are aware of issues with the setup playbooks for OpenShift not working with versions of Ansible other than 2.4,

The customer also reported that they needed Ansible 2.5 to run the playbook, as it required libraries that were not available in 2.4:

   The example given for P

[2018-07-13 17:00] jwmatthews commented on #313
@akesterton @gaurav-nelson

For what you described, customer wanted to run the postgresql-apb from github master branch, yes Ansible 2.5 is expected and required if they are running the playbook directly outside context of the containerized APB image.  (Also note that OCP 3.9 maps to release-1.1 branch in APB examples and not master as master is for newer OCP development)

Below is some more infor

[2018-07-13 17:07] akesterton commented on #313
Hi John

Sounds like we have a bit of a Ansible version mismatch on the OpenShift and APB playbooks unless I have mis-understood.  The customer did hit this problem when trying to create an APB for Mulesoft, so they are in the mode of using the APB to create a new Automation Broker.

I will check with the OpenShift team when they plan to use later versions of Ansible.

regards

anthony

Anthony Ke

[2018-07-23 08:19] ppanero commented on #298
I run into the same problem, and I can confirm this fixed the issue.

Cheers

[2018-07-23 11:25] rgolangh commented on #298
The more elegant solution is just add the KUBECONFIG variable to match the volume path
[code]

And that will work with any $UID and will prevent errors like if the $HOME/.kube dir ownership is by uid
which is not 1000.

[2018-08-14 00:15] akesterton commented on #313
Apologies for not replying sooner.  The customer is looking at the examples we provide in the documentation and this does not mention the need for another version of Ansible.  I believe that we need to provide better instructions for this section as to what is required to use the example.  People read these instructions in order to work out how to create an APB of their own.

[2018-08-23 11:00] pkliczewski opened #318 "ASB installation"
I installed asb by calling:
curl https://raw.githubusercontent.com/openshift/ansible-service-broker/master/apb/install.yaml | oc create -f -

and the asb was deployed to `automation-broker` namespace which is not working with apb tool because it expects one of namespaces defined here https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/src/apb/engine.py#L386

[2018-08-23 12:11] pkliczewski commented on #318
I changed https://github.com/openshift/ansible-service-broker/blob/master/apb/install.yaml#L39 to `      args: [ "provision", "--extra-vars", '{ "broker_name": "openshift-automation-service-broker" }' ]` and redeployed to expected namespace. I see:

but when I run the apb tool I get:

[2018-08-23 13:08] dymurray commented on #318
Hey @pkliczewski, based on your response it looks like you are using the newer version of this tool (1.9.x which will be released as 2.0 with 3.11). We are moving development efforts to https://github.com/automationbroker/apb. We now have an option `apb config` which allows you to configure the route name, the broker name, and a few other options so that the tool works on your cluster. Please let

[2018-08-23 13:18] pkliczewski commented on #318
@dymurray Yes, it seems that I am using `https://copr-be.cloud.fedoraproject.org/results/%40ansible-service-broker/ansible-service-broker-latest/epel-7-x86_64/` repo which provides 1.9.3-1.20180821213449.

[2018-08-23 14:23] pkliczewski commented on #318
@dymurray I downgraded apb tool to apb-1.3.1
and now getting:

I will investigate above issue and closing this one.

[2018-08-23 14:23] #318 closed, assigned to nobody

[2018-09-04 05:41] ghost opened #319 "How long should it take for a new local apb to show up in the catalog UI"
Perhaps, I am missing smth, but what I have done is:

1. Configured timeout in cm, so that the catalog is bootstrapped every minute
2. Pushed an image to an internal registry, `openshift` tnamespace
3. In logs, I can see my apb

[code]
and eventually

[code]

However, it takes up to 5 mins for a new apb to show up in the catalog UI. This makes development and debugging cycle quite long.

Origin 3.

[2018-09-11 12:44] jmontleon opened #320 "Spec [ postgresql-apb ] failed validation for the following reason: [ APB Spec version [1.0.0] out of bounds 1.0 <= 1.0 ]"
With the latest image of ASB / OAB  Broker deployed on origin 3.10 using command "oc cluster add automation-service-broker", we can't use anymore some services such as `postgresql-apb` as there is a spec validation error

[code]

Broker log : https://gist.github.com/cmoulliard/789b36c015f927f66a8ec4d1c58400d0#file-gistfile1-txt-L379

[2018-09-11 12:44] jmontleon commented on #320
@cmoulliard

[2018-09-11 12:55] jmontleon commented on #320
The APB specs for these APB's were updated to go along with:
https://github.com/automationbroker/bundle-lib/commit/78e6a9409289cc32623e792f0ff0d9eff48a9ba8

We either need to set them to 1.0 to be reverse compatible or bring this change into the release-1.2/3.10 broker to fix this. It does not look like bundle-lib was forked for 1.2 from what I can see, unless this was the intention of the release

[2018-09-11 12:59] cmoulliard commented on #320
This is really blocking for us as we can't continue to develop our devtools, guides, .... Is there a workaround when we use `oc cluster up` and origin `3.10` ?

[2018-09-11 13:05] geoand commented on #320
A workaround would be greatly appreciated :)

[2018-09-11 13:36] jmontleon commented on #320
I created this on the wrong repo myself; sorry should have been openshift/ansible-service-broker. Haven't had enough coffee yet. I'll leave it here for now so we can walk through it

[2018-09-11 15:09] leifmadsen commented on #320
I've seen this same thing on a handful of APBs being importing into OpenShift 3.9 as well.

[code]

[2018-11-19 09:21] Asgoret commented on #320
yeah.... OKD 3.11 same thing... is there any help from RH or developers of this broker? everywhere is old guides or examples...and in ansible-galaxy 60%+ of examples are broken(((

[2018-11-19 14:35] djzager commented on #320
I'm sorry that this is causing you trouble. It would help me if you expanded on this "everywhere is old guides or examples". The examples, particular postgresql-apb, mariadb-apb, mediawiki-apb, and mysql-apb have been updated and these _should_ also be what you see in ansible-galaxy. The specific problem here is that older brokers (v3.9 and v3.10) are being pointed at new APBs (latest). I suspect

[2018-11-19 14:47] Asgoret commented on #320
Hi! Thanks for quick response.

In my keys i have folder `dev` and APB scan it for version. When i delete it it works fine) At this moment i seach information how to write more complicated playbooks with different plans and environment.

 I use minishift, so the APB component is latest (i think). When i talk about documentation i mean OKD docks. They still start from `apb init` and there is no lin

[2018-11-20 08:47] aliok opened #321 "Containerized apb doesn't work with OKD 3.11"
Followed the docs from:
* https://github.com/openshift/ansible-service-broker#getting-started-on-openshift
* https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/docs/apb_cli.md#running-from-a-container

1. Start OKD with ASB:
[code]

2. Give cluster admin permissions to `developer`
[code]

3. Login with `developer`
[code]

4. Have `apb` in path with the content of https://

[2018-11-20 19:41] dymurray commented on #321
Hi,

This project is deprecated and is not supported for OKD 3.11. We have moved repositories and the relevant documentation for running `apb` 2.0+ on 3.11 in a container is here: https://github.com/automationbroker/apb/blob/master/docs/apb_cli.md#running-from-a-container.

It does appear that the canary image is out of date on Dockerhub which I will work to resolve. For now you can use the `night

[2018-11-21 06:20] aliok commented on #321
Thanks for the help @dymurray

That documentation is the 'old' documentation which instructs setting up `apb` as this script: https://raw.githubusercontent.com/ansibleplaybookbundle/ansible-playbook-bundle/master/scripts/apb-docker-run.sh
And, that script uses `APB_IMAGE=${APB_IMAGE:-docker.io/ansibleplaybookbundle/apb-tools:canary}`

Anyway, I tried with `docker.io/ansibleplaybookbundle/apb-tools

[2018-11-21 09:58] aliok commented on #321
Created https://github.com/automationbroker/apb/issues/142 for the problems I am having with the new `apb`

[2018-11-26 13:45] Asgoret commented on #133
@jmrodri Hi! I catch this error today too. Is there any solution? I tried to provision  as cluster-admin, and as simple developer. Also i tries install this [script](https://github.com/ansibleplaybookbundle/ansible-playbook-bundle/blob/master/templates/openshift-permissions.template.yaml), but it didn't work.

I use minishift on macOS v3.11 and think every docker image is tag latest

[2018-11-26 14:53] Asgoret commented on #319
You can change it in ASB config. Relist value is 600s (default). I put in 10s and work good) but i refresh and sync manul for speed up this process

[2018-11-26 15:09] Asgoret commented on #319
@eivantsov

[2019-06-06 19:18] #214 closed, assigned to nobody

[2019-09-15 17:22] rmros opened #322 "is there any full option service broker rest api for okd 3.11 and okd 4.1?"
when openshift deployed with service catalog and service broker
i need to control them with rest api
how i can?

[2020-03-18 09:50] #283 closed, assigned to nobody

[2022-03-23 12:15] #286 closed, assigned to nobody